<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .notification-card {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        ul.navbar-nav.navbar-right {
            position: relative;
            bottom: 50px;
            left: 70px;
        }
        .navbar-nav > li {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand">CodTech</a>
                    </div>
                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="/friends">Friends</a></li>
                            <li><a href="/friend_requests">Friend Request</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="notifications" id="notifications-list">
            {% if notifications %}
                {% for notification in notifications %}
                <div class="card notification-card">
                    <div class="card-body">
                        <p>{{ notification.message }}</p>
                        <small>Received on: {{ notification.created_at }}</small>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No notifications available at the moment.</p>
            {% endif %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
